#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define _COL 0
#define _NAV 1
#define _SYM 2
#define _NUM 3
#define _BLT 4

/ {

  behaviors {
    td0: tap_dance_0 {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <150>;
      bindings = <&sk LSFT>, <&caps_word>;
    };

    bspc_del: backspace_delete {
      compatible = "zmk,behavior-mod-morph";
      bindings = <&kp BACKSPACE>, <&kp DELETE>;
      #binding-cells = <0>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
  };

  conditional_layers {
    compatible = "zmk,conditional-layers";
    tri_layer {
      if-layers = <_NAV _SYM>;
      then-layer = <_NUM>;
    };
  };

  combos {
    compatible = "zmk,combos";
    timeout = <200>;
    key-positions = <31 32>;
    bindings = <&mo _BLT>;
  };

  keymap {

    compatible = "zmk,keymap";
    
    // layer 0 -> colemak -- default
    colemak {
      display-name = "Colemak-dh";
      bindings = <
        &kp Q      &kp W      &kp F        &kp P            &kp B            &kp J         &kp L      &kp U      &kp Y      &kp SEMI 
        &kp A      &kp R      &kp S        &kp T            &kp G            &kp M         &kp N      &kp E      &kp I      &kp O 
        &kp Z      &kp X      &kp C        &kp D            &kp V            &kp K         &kp H      &kp COMMA  &kp DOT    &kp SLASH 
                              &lt _NAV TAB &mt RALT SPACE   &bspc_del        &lt _SYM RET
      >;
    };
    
    // layer 1 -> navigation
    navigation {
      display-name = "Navigation";
      bindings = <
        &kp ESC    &none      &none        &none            &none            &none         &kp LC(L)  &none      &none      &none 
        &kp LC(A)  &none      &kp LC(S)    &td0             &none            &kp LEFT      &kp DOWN   &kp UP     &kp RIGHT  &none 
        &kp LC(Z)  &kp LC(X)  &kp LC(C)    &kp LC(D)        &kp LC(V)        &none         &none      &none      &none      &none 
                                           &trans           &trans           &trans        &trans
      >;
    };

    // layer 2 -> symbols
    symbols {
      display-name = "Symbols";
      bindings = <
        &kp GRAVE  &kp BSLH   &kp LPAR     &kp LBKT         &kp LBRC         &kp RBRC      &kp RBKT   &kp RPAR   &kp MINUS  &kp PLUS
        &kp EXCL   &kp AT     &kp HASH     &kp DLLR         &kp PRCNT        &kp CARET     &kp AMPS   &kp STAR   &kp UNDER  &kp EQUAL
        &kp TILDE  &kp PIPE   &none        &kp SQT          &none            &none         &kp DQT    &kp LT     &kp GT     &none
                                           &trans           &trans           &trans        &trans
      >;
    };

    // layer 3 -> numbers
    numbers {
      display-name = "Numbers";
      bindings = <
        &none      &none      &none        &kp C_MUTE       &kp C_BRI_DN     &kp C_BRI_UP  &kp KP_N7  &kp KP_N8  &kp KP_N9  &none
        &sk LWIN   &sk LALT   &sk LCTRL    &sk LSHFT        &kp C_VOL_DN     &kp C_VOL_UP  &kp KP_N4  &kp KP_N5  &kp KP_N6  &none
        &none      &none      &none        &none            &none            &kp KP_N0     &kp KP_N1  &kp KP_N2  &kp KP_N3  &none
                                           &trans           &trans           &trans        &trans
      >;
    };

    bl_settings {
      display-name = "Bluetooth settings";
      bindings = <
        &none      &none      &none        &bt BT_CLR       &bt BT_SEL 0     &bt BT_SEL 4  &none      &none      &none      &none
        &none      &none      &none        &none            &bt BT_SEL 1     &bt BT_SEL 5  &none      &none      &none      &none
        &none      &none      &none        &none            &bt BT_SEL 2     &bt BT_SEL 6  &none      &none      &none      &none
                                           &trans           &trans           &trans        &trans
      >;
    };
  };
};
