#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "win_linux_keys.h"
#include "mac_keys.h"

#define _COL  0
#define _MCOL 1
#define _NAV  2
#define _MNAV 3
#define _SYM  4
#define _NUM  5
#define _BLT  6

&lt {
  flavor = "hold-preferred";
};

&mt {
  flavor = "tap-preferred";
};

/ {

  // combo setup
  combos {
    compatible = "zmk,combos";
    // central thumb keys
    combo_blt {
      timeout-ms = <200>;
      key-positions = <31 32>;
      bindings = <&mo _BLT>;
    };
    // left thumb keys
    combo_shift {
      timeout-ms = <200>;
      key-positions = <30 31>;
      bindings = <&kp LSHFT>;
    };
    // right thumb keys
    combo_capsword {
      timeout-ms = <200>;
      key-positions = <32 33>;
      bindings = <&caps_word>;
    };
  };

  behaviors {
    cte: capture_text_extractor {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <150>;
      bindings = <&kp SNIP>, <&kp TEXTR>;
    };

    bspc_del: backspace_delete {
      compatible = "zmk,behavior-mod-morph";
      bindings = <&kp BACKSPACE>, <&kp DELETE>;
      #binding-cells = <0>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    // toggle layer on
    tog_on: toggle_layer_on_only {
      compatible = "zmk,behavior-toggle-layer";
      #binding-cells = <1>;
      display-name = "Toggle layer on";
      toggle-mode = "on";
    };

    // toggle layer off
    tog_off: toggle_layer_off_only {
      compatible = "zmk,behavior-toggle-layer";
      #binding-cells = <1>;
      display-name = "Toggle layer on";
      toggle-mode = "off";
    };
  };

  // conditional layers setup
  conditional_layers {
    compatible = "zmk,conditional-layers";
    win_linux_tri_layer {
      if-layers = <_NAV _SYM>;
      then-layer = <_NUM>;
    };
    mac_tri_layer {
      if-layers = <_MNAV, _SYM>;
      then-layer = <_NUM>;
    };
  };

  keymap {

    compatible = "zmk,keymap";
    
    // layer 0 -> colemak -- default
    colemak {
      display-name = "Colemak-dh";
      bindings = <
        &kp Q      &kp W      &kp F        &kp P            &kp B                &kp J         &kp L      &kp U      &kp Y      &kp SEMI 
        &kp A      &kp R      &kp S        &kp T            &kp G                &kp M         &kp N      &kp E      &kp I      &kp O 
        &kp Z      &kp X      &kp C        &kp D            &kp V                &kp K         &kp H      &kp COMMA  &kp DOT    &kp SLASH 
                              &lt _NAV TAB &mt RALT SPACE   &bspc_del            &lt _SYM RET
      >;
    };

    // layer 1 -> colemak mac -- used when mac in use
    mac_colemak {
      display-name = "Mac Colemak-dh";
      bindings = <
        &kp Q      &kp W      &kp F         &kp P            &kp B                &kp J         &kp L      &kp U      &kp Y      &kp SEMI 
        &kp A      &kp R      &kp S         &kp T            &kp G                &kp M         &kp N      &kp E      &kp I      &kp O 
        &kp Z      &kp X      &kp C         &kp D            &kp V                &kp K         &kp H      &kp COMMA  &kp DOT    &kp SLASH 
                              &lt _MNAV TAB &mt RALT SPACE   &bspc_del            &lt _SYM RET
      >;
    };
    
    // layer 2 -> navigation
    navigation {
      display-name = "Navigation";
      bindings = <
        &kp ESC       &none         &none        &kp MOU_AIM    &none            &kp HCLCK     &kp CLEAR_TERM   &kp NTAB             &kp PTAB  &kp STAMP 
        &kp TMUX_LEAD &kp SSNIP     &kp SAVE     &cte           &kp PT_RUN       &kp LEFT      &kp DOWN         &kp UP               &kp RIGHT &none 
        &kp CTRL_Z    &kp CTRL_X    &kp CP       &kp LOGOUT     &kp PASTE        &kp FEXPL     &kp NWIN         &kp PWIN             &none     &none 
                                                 &trans         &trans           &trans        &trans
      >;
    };

    // layer 3 -> mac navigation -- used when connected to mac
    mac_navigation {
      display-name = "Mac Navigation";
      bindings = <
        &kp ESC       &none         &none        &none          &none            &none         &kp CLEAR_TERM   &kp M_STAMP          &kp M_FP_STAMP  &kp M_STAMP_CP 
        &kp TMUX_LEAD &none         &kp M_SAVE   &none          &kp M_SPLGHT     &kp LEFT      &kp DOWN         &kp UP               &kp RIGHT       &none 
        &kp M_UNDO    &kp M_CUT     &kp M_CP     &kp LOGOUT     &kp M_PASTE      &kp FINDER    &none            &none                &none           &none 
                                                 &trans         &trans           &trans        &trans
      >;
    };

    // layer 4 -> symbols
    symbols {
      display-name = "Symbols";
      bindings = <
        &kp GRAVE  &kp BSLH   &kp LPAR     &kp LBKT         &kp LBRC         &kp RBRC      &kp RBKT   &kp RPAR   &kp MINUS  &kp PLUS
        &kp EXCL   &kp AT     &kp HASH     &kp DLLR         &kp PRCNT        &kp CARET     &kp AMPS   &kp STAR   &kp UNDER  &kp EQUAL
        &kp TILDE  &kp PIPE   &none        &kp SQT          &none            &none         &kp DQT    &kp LT     &kp GT     &none
                                           &trans           &trans           &trans        &trans
      >;
    };

    // layer 5; -> numbers
    numbers {
      display-name = "Numbers";
      bindings = <
        &tog_on _MCOL &tog_off _MCOL      &none        &kp C_MUTE       &kp C_BRI_DN     &kp C_BRI_UP  &kp N7  &kp N8  &kp N9  &none
        &sk LWIN      &sk LALT            &sk LCTRL    &sk LSHFT        &kp C_VOL_DN     &kp C_VOL_UP  &kp N4  &kp N5  &kp N6  &none
        &kp LWIN      &kp LALT            &kp LCTRL    &kp LSHFT        &kp RCTRL        &kp N0        &kp N1  &kp N2  &kp N3  &none
                                                       &trans           &trans           &trans        &trans
      >;
    };

    // layer 6 -> bluetooth settings
    bl_settings {
      display-name = "Bluetooth settings";
      bindings = <
        &bt BT_CLR  &none      &none        &bt BT_DISC 0    &bt BT_SEL 0     &bt BT_SEL 1  &bt BT_DISC 1      &none      &none      &kp LOCK
        &bootloader &none      &none        &bt BT_DISC 2    &bt BT_SEL 2     &bt BT_SEL 3  &bt BT_DISC 3      &none      &none      &bootloader
        &sys_reset  &none      &none        &bt BT_DISC 4    &bt BT_SEL 4     &bt BT_SEL 5  &bt BT_DISC 5      &none      &none      &sys_reset
                                            &trans           &trans           &trans        &trans
      >;
    };
  };
};
