#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
#include "keys.h"

#define _COL 0
#define _NAV 1
#define _SYM 2
#define _NUM 3
#define _MOU 4
#define _BLT 5

&lt {
  flavor = "hold-preferred";
};

&mt {
  flavor = "tap-preferred";
};

&mmv {
  acceleration-exponent = <1>;
  time-to-max-speed-ms = <500>;
  delay-ms = <0>;
};

&msc {
  acceleration-exponent = <1>;
  time-to-max-speed-ms = <500>;
  delay-ms = <0>;
};

/ {

  // combo setup
  combos {
    compatible = "zmk,combos";
    // central thumb keys
    combo_blt {
      timeout-ms = <200>;
      key-positions = <31 32>;
      bindings = <&mo _BLT>;
    };
    // left thumb keys
    combo_shift {
      timeout-ms = <200>;
      key-positions = <30 31>;
      bindings = <&kp LSHFT>;
    };
    // right thumb keys
    combo_capsword {
      timeout-ms = <200>;
      key-positions = <32 33>;
      bindings = <&caps_word>;
    };
  };

  behaviors {
    cte: capture_text_extractor {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <150>;
      bindings = <&kp SNIP>, <&kp TEXTR>;
    };

    bspc_del: backspace_delete {
      compatible = "zmk,behavior-mod-morph";
      bindings = <&kp BACKSPACE>, <&kp DELETE>;
      #binding-cells = <0>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    mou_bs_del: mouse_backspace_delete {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "hold-preferred";
      tapping-term-ms = <200>;
      quick-tap-ms = <200>;
      bindings = <&mo>, <&bspc_del>;
    };
  };

  // conditional layers setup
  conditional_layers {
    compatible = "zmk,conditional-layers";
    tri_layer {
      if-layers = <_NAV _SYM>;
      then-layer = <_NUM>;
    };
  };

  keymap {

    compatible = "zmk,keymap";
    
    // layer 0 -> colemak -- default
    colemak {
      display-name = "Colemak-dh";
      bindings = <
        &kp Q      &kp W      &kp F        &kp P            &kp B                &kp J         &kp L      &kp U      &kp Y      &kp SEMI 
        &kp A      &kp R      &kp S        &kp T            &kp G                &kp M         &kp N      &kp E      &kp I      &kp O 
        &kp Z      &kp X      &kp C        &kp D            &kp V                &kp K         &kp H      &kp COMMA  &kp DOT    &kp SLASH 
                              &lt _NAV TAB &mt RALT SPACE   &mou_bs_del _MOU 0 &lt _SYM RET
      >;
    };
    
    // layer 1 -> navigation
    navigation {
      display-name = "Navigation";
      bindings = <
        &kp ESC       &none         &none        &kp MOU_AIM    &none            &kp HCLCK     &kp CLEAR_TERM   &kp NTAB             &kp PTAB  &kp STAMP 
        &kp TMUX_LEAD &kp SSNIP     &kp SAVE     &cte           &kp PT_RUN       &kp LEFT      &kp DOWN         &kp UP               &kp RIGHT &none 
        &kp CTRL_Z    &kp CTRL_X    &kp CP       &kp LOGOUT     &kp PASTE        &kp FEXPL     &kp NWIN         &kp PWIN             &none     &none 
                                                 &trans         &trans           &trans        &trans
      >;
    };

    // layer 2 -> symbols
    symbols {
      display-name = "Symbols";
      bindings = <
        &kp GRAVE  &kp BSLH   &kp LPAR     &kp LBKT         &kp LBRC         &kp RBRC      &kp RBKT   &kp RPAR   &kp MINUS  &kp PLUS
        &kp EXCL   &kp AT     &kp HASH     &kp DLLR         &kp PRCNT        &kp CARET     &kp AMPS   &kp STAR   &kp UNDER  &kp EQUAL
        &kp TILDE  &kp PIPE   &none        &kp SQT          &none            &none         &kp DQT    &kp LT     &kp GT     &none
                                           &trans           &trans           &trans        &trans
      >;
    };

    // layer 3 -> numbers
    numbers {
      display-name = "Numbers";
      bindings = <
        &none      &none      &none        &kp C_MUTE       &kp C_BRI_DN     &kp C_BRI_UP  &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_NLCK
        &sk LWIN   &sk LALT   &sk LCTRL    &sk LSHFT        &kp C_VOL_DN     &kp C_VOL_UP  &kp KP_N4  &kp KP_N5  &kp KP_N6  &none
        &kp LWIN   &kp LALT   &kp LCTRL    &kp LSHFT        &kp RCTRL        &kp KP_N0     &kp KP_N1  &kp KP_N2  &kp KP_N3  &none
                                           &trans           &trans           &trans        &trans
      >;
    };

    // layer 4 -> mouse
    mouse {
      display-name = "Mouse";
      bindings = <
        &none      &none            &mmv MOVE_UP   &none            &none            &none         &none           &msc MOVE_UP    &none            &none
        &none      &mmv MOVE_LEFT   &mmv MOVE_DOWN &mmv MOVE_RIGHT  &none            &none         &mkp LCLK       &none           &mkp RCLK        &none
        &none      &none            &none          &none            &none            &none         &msc MOVE_LEFT  &msc MOVE_DOWN  &msc MOVE_RIGHT  &none
                                             &trans           &trans           &trans        &trans
      >;
    };

    // layer 5 -> bluetooth settings
    bl_settings {
      display-name = "Bluetooth settings";
      bindings = <
        &bt BT_CLR  &none      &none        &bt BT_DISC 0    &bt BT_SEL 0     &bt BT_SEL 1  &bt BT_DISC 1      &none      &none      &kp LOCK
        &bootloader &none      &none        &bt BT_DISC 2    &bt BT_SEL 2     &bt BT_SEL 3  &bt BT_DISC 3      &none      &none      &bootloader
        &sys_reset  &none      &none        &bt BT_DISC 4    &bt BT_SEL 4     &bt BT_SEL 5  &bt BT_DISC 5      &none      &none      &sys_reset
                                            &trans           &trans           &trans        &trans
      >;
    };
  };
};
